/* 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 공통작업 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(yoga.jpg) no-repeat center;
    background-size: cover;
}

/* 배경 흐리게? 효과 */
body::before {
    content : "";
    position: absolute;
    /* 요소들의 수직(겹치는)위치를 정하는 속성 */
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, .7,);
}

.create-form {
    position: relative;
    z-index: 2;
}

.create-form h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.int-area {
    width: 400px;
    position: relative;
    margin-top: 20px;
}

/* first-child 부모 요소 안에 있는 첫 번째 자식 지정 */
.int-area:first-child {
    margin-top: 0;
}

/* 작성하는 id와 pw의 속성 */
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;

    /* 빈칸을 클릭했을때 보더박스 */
    outline: none;
}

/* 아무것도 작성하지 않았을때 빈칸에 표시되는 라벨 속성 */
.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;

    /* 빈칸에 입력시 메시지가 위로 올라가는 트랜지션(효과) */
    transition: all .5s ease;
}

/* 입력 받는 값이 없는데 버튼을 눌렀을때의 속성 */
.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(-8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(-8px);}
}

/* input 상단 id와 pw 위치 가이드 */
.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px;
    color: #166cea;
}

/* 로그인 버튼 */
.btn-area {
    margin-top: 30px;
}

/* 로그인 버튼 */
.btn-area button {
    width: 100%;
    height: 50px;
    background: #155cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}